@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {

    /* COLORS */
    --white: #FFF;
    --off-white: #F4F4F4;
    --white-2: #FAFAFA;
    --grey: #676767;
    --dark-grey: #525252;
    --text-grey: #555555;
    --purple: #9B59B6;
    --orange: #E67E22;
    --light-red: #E74C3C;
    --red: #E84610;
    --light-blue: #3498DB;
    --dark-blue: #1C4A6C;

    /* FONTS */
    --roboto: "Roboto", sans-serif;
    --exo: "Exo", sans-serif;
}

/*----- Colours -----*/

.bg-color-name-title {
    background-color: var(--grey);
}

.bg-color-three-reasons,
.bg-color-contact,
.bg-color-groups,
.bg-color-skills {
    background-color: var(--white);
}

.bg-color-personal-info {
    background-color: var(--off-white);
}

.bg-color-work-history {
    background-color: var(--dark-blue);
}

.bg-color-conferences {
    background-color: var(--off-white);
}

.ui-menu-color-home {
    background-color: var(--orange);
}

.ui-menu-color-resume {
    background-color: var(--purple);
}

.ui-menu-color-contact {
    background-color: var(--light-blue);
}

.ui-menu-color-interests {
    background-color: var(--light-red);
}

.ui-menu-color-github {
    background-color: var(--dark-blue);
}

.ui-menu-color-download {
    background-color: var(--dark-grey);
}

body {
    font-family: var(--roboto);
    font-weight: 300;
    background-color: var(--dark-grey);
    color: var(--text-grey);
}


/*----- Special paddings/margins/text -----*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: var(--exo);
    font-weight: 300;
    color: var(--white-2);
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.history-heading,
.section-heading {
    font-family: var(--exo);
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}


/*----- Heading -----*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/rosie.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: var(--exo);
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: var(--white);
}

.title {
    font-family: var(--roboto);
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: var(--white);
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: var(--white);
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: var(--white-2);
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


/*----- Hover.css -----*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}


/*----- Footer -----*/

footer {
    background-color: var(--dark-grey);
    color: var(--white-2);
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: var(--white-2);
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: var(--red);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 52px;
    height: 52px;
    padding: 22px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: var(--dark-grey);
    background: var(--white);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: var(--red);
}

#footer-details {
    margin: 20px;
}


/*----- Three Reasons Section -----*/

.three-reasons-icon {
    font-size: 26px;
    color: var(--orange);
}

.three-reasons-heading {
    margin-bottom: 15px;
}


/*----- Personal Info -----*/

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
    display: inline-block;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
}


/*----- Skills -----*/

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: var(--white-2);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
}


/*----- Work History -----*/

.history-heading {
    color: var(--white-2);
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: var(--white-2);
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: var(--exo);
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: var(--white-2);
}

.history-items {
    margin-bottom: 30px;
}


/*----- Contact Form -----*/

.contact-heading {
    font-family: var(--exo);
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: var(--white-2);
    background-color: var(--red);
}


/*----- Map -----*/

div#map {
    min-height: 360px;
}


/*----- Media Queries -----*/

@media (min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}